button {
  border-radius: 20px;
  border: none;
  min-width: 100px;
  cursor: pointer;

  &.primary {
    color: white;
    background-color: darkcyan;
  }

  &.secondary {
    color: black;
    background-color: white;
    border: 1px solid grey;
  }
}
